.service-group-dropdown {
  position: relative;
  display: inline-block;
  /* margin-left: 16px; */
  min-width: 200px;
}

.group-selected {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #d1d5db;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 8px;
  gap: 8px;
}

.filter-label {
  font-size: 14px;
  font-weight: 500;
  margin: 8px 0 4px;
  display: block;
  color: #333;
}
.filter-input {
  /* width: 100%; */
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}
